
#countrySelect{
    width: 150px;   
   }
   
   #countrySelect option{
    width: 150px;   
   }
   
   #citySelect{
    width: 150px;   
   }
   
   #cityySelect option{
    width: 150px;   
   }

   #mapid { height: 580px; }