#countrySelect {
    margin: 15px;
    width: 100px;
}

#countrySelect option {
    margin: 15px;
    /* width: 150px; */
}

#citySelect {
    margin: 15px;
    width: 100px;
}

#cityySelect option {
    margin: 15px;
    /* width: 150px; */
}

#grid01 {
    display: grid;
    text-align: center;
    background-color: rgb(163, 228, 206);
    /* width: 1fr; */
    border: 5px solid green;
    padding: 5px;
    margin: 5px;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-rows: 150px 250px 250px 250px;
}

.mapid01 {
    grid-area: 2 / 1 / 4 / 4;
}

.btn-cafes {
    background-color: rgb(139, 196, 137);
    grid-area: 1 / 4 / 1 / 4;
    /* grid-area: left; */
}

.button01:hover {
    background-position: right center;
}

#route-narrative02 {
    background-color: lime;
}

.cafes,
.cafes23 {
    text-align: center;
    padding: 2px;
    font-size: 0.8rem;
    /* grid-area: 2 / 1 / 4 / 1; */
}

#button01-01,
#button01-03,
#button01-05 {
    background-image: linear-gradient(to right, #26b482 12%, #93F9B9 30%);
}

#button01-02,
#button01-04,
#button01-06 {
    background-image: linear-gradient(to right, #bd1d1d 12%, #ff7689 30%);
}

.button01 {
    height: 25px;
    width: 120px;
    /* background-color: #4CAF50; */
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    /* background-color: transparent; */
    font-size: 1rem;
    color: #333;
    /* background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04)); */
    /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15); */
    /* text-shadow: 0 1px rgba(255, 255, 255, .4); */
    text-align: left;
    /* margin: 3px; */
    /* grid-area: menu; */
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}

#cafes li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.close {
    cursor: pointer;
    /* position: absolute; */
    top: 50%;
    right: 0%;
    padding: 5px 10px;
    /* transform: translate(0%, -50%); */
}


/* Style the list (remove margins and bullets, etc) */

ul {
    list-style-type: none;
    /* padding: 0; */
    /* margin: 0; */
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow:hover {
    background-color: #f44336;
    color: white;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}